<div *ngIf="CoordinatedDrawn.length >0" class='coordinancesPlc'>
  <div class=''>{{typeCoordinance.type}} Coordinances</div>
  <div>
    <table>
      <tr>
        <th>no.</th>
        <th>Longditude</th>
        <th>Latitude</th>
        <th>Geometry</th>
      </tr>
      <tr *ngFor="let coor of CoordinatedDrawn">
        <td>{{coor.pressed}}</td>
        <td>{{coor.long}}</td>
        <td>{{coor.lat}}</td>
        <td>{{coor.type}}</td>
      </tr>
    </table>
  </div>

</div>
<div *ngIf="CoordinatedDrawn.length >0" class='coordinancesPlc'>
  <span class='btn' (click)='Refresh()'>Refresh</span>
</div>
<div id="map" class="map"></div>

<div [ngStyle]="{'margin-left':expandFilter? '75px' : '10px'}" class='buttonEdit' (click)=" expandFilter = !expandFilter">
  <img src="../assets/baseline_edit_location_black_18dp.png" alt="">
</div>
<div [ngStyle]="{'margin-left':expandFilter? '0' : '-220px'}" class='filterPlc'>
  <form class="form-inline">
    <label>Geometry type &nbsp;</label>
    <!-- <select id="type">
    <option value="Point">Point</option>
    <option value="LineString">LineString</option>
    <option value="Polygon">Polygon</option>
    <option value="Circle">Circle</option>
  </select> -->
    <select (ngModelChange)='changeType($event)' [(ngModel)]="selectedType" [ngModelOptions]="{standalone: true}">
      <option *ngFor="let v of Vectors" [ngValue]="v">{{v.name}}</option>
    </select>
  </form>

  <form [formGroup]="form">
    <input (change)='radioChange()' formControlName='switch' type="radio" value="draw"> Draw
    <input (change)='radioChange()' formControlName='switch' type="radio" value="modify"> Modify
  </form>

  
  <span class='btn' (click)='drawCoordinates()'>Draw Coordinates</span>

</div>